#
# Copyright (C) 2023 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a windows instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=windows server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/windows.pid %t/windows.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/windows.pid \
    --cidfile=%t/windows.ctr-id \
    --cgroups=no-conmon \
    --replace --name=%N \
    --publish=127.0.0.1:${TCP_PORT}:8006 \
    --env-file=environment \
    --device /dev/kvm \
    --cap-add NET_ADMIN \
    ${WINDOWS_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/windows.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/windows.ctr-id
PIDFile=%t/windows.pid
Type=forking

[Install]
WantedBy=default.target
